@import "_font";
/*---------------------------------------변수---------------------------------------*/
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//color set000
$bg-color: #EAEDF0;
$textcolor: #b89d0e;
//Neumorphism shadow color
$sh-bright: #ffffff;
$sh-dark: #c7c9cc;

//height
$headerheight: 56px;
$bannerheight: 136px;
$navheight: 52px;
//function
@mixin Neumorphism($l, $s, $v, $inset: null) {
  background-color: $bg-color;
  box-shadow: $inset $l $l $v $sh-dark,
  $inset $s $s $v $sh-bright;
}
/*--------------------------------------start--------------------------------------*/
html {font-size: 10px;}
body {
  margin: 0;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 400;
  background-color: $bg-color;
}
#wrap{
  width: 100%;
  height: 100%;
}
button, input {
  border: 0;
  outline: 0;
}
/*-------------------------------------header-------------------------------------*/
.header {
  height: $headerheight;
  .header-area {
    height: $headerheight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin: auto 0 auto 16px;
      a {
        font-size: 2rem;
        font-weight: 800;
        color: black;
      }
    }
    .login {
      margin: auto 0;
      a {
        padding: 16px;
        font-size: 1.4rem;
        color: $textcolor;
      }
    }
  }
}
/*-------------------------------------banner-------------------------------------*/
.banner {
  height: $bannerheight;
  .banner-area {
    height: $bannerheight;
    display: flex;
    justify-content: center;
    align-items: center;
    .time {
      height: 74px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 4.1rem;
        font-weight: 800;
        letter-spacing: -0.025em;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
/*-------------------------------------contents-------------------------------------*/
.list {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .list-area {
    padding-left: 16px;
    max-width: 400px;
    width: 100vw;
    .todo-list-sort {
      height: 44px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      .sort-method {
        a {
          padding: 12px 16px;
          font-size: 1.6rem;
          border-radius: 50px;
        }
        .is-active {
          box-shadow: inset  4px 4px 8px $sh-dark, inset -4px -4px 8px $sh-bright;
        }
      }
    }
    .todo-list {
      display: flex;
      flex-direction: column;
      .box {
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        .box-contents {
          max-width: 400px;
          width: 82.188vw;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 10px;
          box-shadow: 5px 5px 12px $sh-dark, -5px -5px 12px $sh-bright;
          .todo {
            .todo-title {
              padding: 6px 0 0 6px;
              display: flex;
              flex-direction: row;
              align-items: center;
              img {
                $size: 26px;
                width: $size;
                height: $size;
                border-radius: $size;
              }
              h3 {
                margin-left: 8px;
                font-size: 1.6rem;
              }
            }
            .todo-text {
              padding: 6px;
              p {
                font-size: 1.8rem;
                line-height: 2.4rem;
              }
            }
          }
          .checkbox {
            padding: 0 6px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .box-setting {
          display: flex;
          flex-direction: column;
          justify-content: center;
          a {
            padding: 14px 14px;
            @include center;
          }
        }
      }
    }
  }
}
/*-------------------------------------bottom nav-------------------------------------*/
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $navheight;
  box-shadow: 0 -4px 8px $sh-bright;
}
.nav-area {
  width: 100vw;
  height: $navheight;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  button {
    padding: 16px;
    border-radius: 50px;
    background-color: $bg-color;
    &:active, &:hover, &:focus{
      @include Neumorphism(3px, -3px, 7px, $inset: inset);
      transition-duration: 600ms;
    }
  }
}
/*----------------------------------Add To Do Box-----------------------------------*/
.popup {
  top: 0;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(234, 237, 240, 0.88);
}
.add-todo {
  width: 74vw;

  border-radius: 16px;
  background-color: $bg-color;
  @include Neumorphism(4px, -4px, 8px);
  form {
    display: flex;
    flex-direction: column;
    textarea {
      margin: 0 24px 16px 24px;
      padding: 10px 16px;
      text-align: center;
      border: 0;
      outline: 0;
      resize: none;
      font-family: 'NanumSquare', sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      border-radius: 17px;
      color: #7D7D7D;
      @include Neumorphism(4px, -4px, 8px, $inset: inset);
    }
    textarea:nth-child(2) {
      text-align: start;
    }
    button {
      margin: 10px 22px 30px;
      padding: 10px;
      text-align: center;
      border-radius: 50px;
      color: $textcolor;
      @include Neumorphism(4px, -4px, 8px);
      &:hover {
        @include Neumorphism(2px, -2px, 7px);
        transition-duration: 600ms;
      }
      &:active, &:focus{
        box-shadow: none;
        transition-duration: 600ms;
      }
    }
  }
}
.head {
  display: flex;
  justify-content: space-between;
  h3 {
    padding: 20px;
    font-size: 1.6rem;
    text-align: center;
  }
  a {
    padding: 20px;
    &:hover {

    }
  }
}
/*--------------------------------------IMPORT--------------------------------------*/
@import "sub";